body{
margin:0;
padding:0;
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(54,32,55,1) 100%);
color: #fff;
font-family: Arial;
font-size: 20px;
}

form{
margin:10px;
padding: 20px;
}

#sub{
margin:2px;
padding: 5px;
border: solid 1px black;
}

header{
margin: 5px;
padding: 5px;
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: #362037;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

p{
text-align: center;
}

#cpy{
position: relative;
padding: 2px;
left: 50%;
}